.navbar{
    background-color: var(--primary-text-color);
    height: 80px;
    z-index: 99;
    color: white;
    text-transform: uppercase;
    position: sticky;
    top: 0;
   .nav{
    display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
   }
}