.product{
    min-width: 280px;
    cursor: pointer;
   
    .product-container{
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding: 20px;
       ;
        .product-img{
            height: 300px;
            width: 100%;
            position: relative;
            
            .img-container{
                position: absolute;
              
                width: 100%;
                height: 100%;
                // .img{
                //     width: 100%;
                //     height: 100%;
                //     object-fit: contain;
                //     // align-items: center;
                 
                  
                // }
            }
        }
        .product-info{
            text-align: center;
            display: flex;
            padding-inline: 8px;
            flex-direction: column;
            gap: 5px;
          .prize{
            color: black;
            
          }
        }
        #img{
          position: absolute;
          transform: scale(0.9);
          transition: 0.2s ease;
          left: 30px;
        }
        &:hover #img{
            transform: scale(1);

        }
    }
}