.home{
    .collection{
        margin-top: 40px;
        .info{
            text-align: center;
            .subheading{
                margin-top: 10px;
                padding-bottom: 20px;
            }
        }
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 20px;
            // margin-top: 20px;
            
        }
    }
}